#board {
	float: left;
	/*width: 400px;*/
}

/* hex stuff thanks to http://jtauber.github.io/articles/css-hexagon.html */

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
	float:left;
	margin-left: 12px; margin-bottom: 12px; /*channel width*/
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
/*
.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex .top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: #6C6;
}
.hex .bottom {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
*/
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 59px; /*if you make the channels bigger then you need to adjust this*/
						/*it needs to be 53 + half of your hex's margin-left*/
}


.hex.water{
    background: #31597f;
}
.hex.water:before{
    border-bottom: 30px solid #31597f;
}
.hex.water:after{
    border-top: 30px solid #31597f;
}
.hex.sheep{
    background: #7d7;
}
.hex.sheep:before{
    border-bottom: 30px solid #7d7;
}
.hex.sheep:after{
    border-top: 30px solid #7d7;
}
.hex.wood{
    background: #367636;
}
.hex.wood:before{
    border-bottom: 30px solid #367636;
}
.hex.wood:after{
    border-top: 30px solid #367636;
}
.hex.wheat{
    background: #e0a221;
}
.hex.wheat:before{
    border-bottom: 30px solid #e0a221;
}
.hex.wheat:after{
    border-top: 30px solid #e0a221;
}
.hex.brick{
    background: #ff514a;
}
.hex.brick:before{
    border-bottom: 30px solid #ff514a;
}
.hex.brick:after{
    border-top: 30px solid #ff514a;
}
.hex.ore{
    background: #999;
}
.hex.ore:before{
    border-bottom: 30px solid #999;
}
.hex.ore:after{
    border-top: 30px solid #999;
}
.hex.desert{
    background: #f4be69;
}
.hex.desert:before{
    border-bottom: 30px solid #f4be69;
}
.hex.desert:after{
    border-top: 30px solid #f4be69;
}
.padding:before {
	border-bottom-color:#ffffff;
}
.padding {
	background-color:#ffffff;
}
.padding:after {
	border-top-color:#ffffff;
}

span.rank{
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 1.5em;
	position: absolute;
	top:29%;
	width: 104px;
	text-align: center;
	text-shadow: 1px 1px 1px #555;
}
.rank.desert{
	color:#282828;
}
.rank.no-show{
	display:none;
}