#board {
	float: left;
	/*width: 400px;*/
}

.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 59px; /*if you make the channels bigger then you need to adjust this*/
						/*it needs to be 53 + half of your hex's margin-left*/
}


.water{
    background: #31597f;
}
.hex.water:before{
    border-bottom: 30px solid #31597f;
}
.hex.water:after{
    border-top: 30px solid #31597f;
}
.sheep{
    background: #7d7;
}
.hex.sheep:before{
    border-bottom: 30px solid #7d7;
}
.hex.sheep:after{
    border-top: 30px solid #7d7;
}
.wood{
    background: #367636;
}
.hex.wood:before{
    border-bottom: 30px solid #367636;
}
.hex.wood:after{
    border-top: 30px solid #367636;
}
.wheat{
    background: #e0a221;
}
.hex.wheat:before{
    border-bottom: 30px solid #e0a221;
}
.hex.wheat:after{
    border-top: 30px solid #e0a221;
}
.brick{
    background: #ff514a;
}
.hex.brick:before{
    border-bottom: 30px solid #ff514a;
}
.hex.brick:after{
    border-top: 30px solid #ff514a;
}
.ore{
    background: #999;
}
.hex.ore:before{
    border-bottom: 30px solid #999;
}
.hex.ore:after{
    border-top: 30px solid #999;
}
.desert{
    background: #f4be69;
}
.hex.desert:before{
    border-bottom: 30px solid #f4be69;
}
.hex.desert:after{
    border-top: 30px solid #f4be69;
}

.hex.padding {
	/*background-color:#ffffff;*/
	visibility:hidden;
}

span.rank{
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 1.5em;
	position: absolute;
	top:29%;
	width: 104px;
	text-align: center;
	text-shadow: 1px 1px 1px #555;
}

.robber,
.robber-inner{
	background:#282828;
}
.robber{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: relative;
	top: 11px;
	left: 32px;
}
.robber-middle{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: relative;
	top: 6px;
	left: 16px;
}
.robber-inner{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	position: absolute;
	top: 10px;
	left: 13px;
}


.intersect{
    position:absolute;
	/*width:12px;
	height:12px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	z-index:15;*/
	height: 0;
	width: 0;
	border: none;
	border-top: 45px solid #fff;
	background: transparent;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	z-index: 1;
}

.intersect.bottom{
    /*top:91px;
    left:46px;*/
	top: 62px;
	left: 23px;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
		    transform: rotate(180deg);
}
.intersect.right{
    /*top:60px;
     left:104px;*/
	top: 50px;
	left: 80px;
}

/*.intersect.red{
	background: #f00;
}
.intersect.blue{
	background: #00f;
}*/