#board {
	float: left;
	/*width: 400px;*/
	position: relative;
	top: 103px;
}

#hand {
	height: 80px;
	width: 100%;
	position: fixed;
	right: 0px;
	z-index: 1000;
	-webkit-box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.75);
	   -moz-box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.75);
                box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.75);
}

#resources {
	width: 50%;
	background: #ddd;
	float: left;
	height: 100%;
}
#resources > .card {
	width: 13%;
	height: 60px;
	position: relative;
	float: left;
	top: 10px;
	color: #fff;
	margin-left: 6%;
	-webkit-box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.75);
	   -moz-box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.75);
                box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.75);
}
#resources > .card > .amt {
	position:relative;
	top:25%;
	left:40%;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 1px #555;
}
#stats {
	width: 40%;
	background: #ddd;
	float: left;
	height: 100%;
	border-left: 2px solid #aaa;
	box-sizing: border-box;
}
.stats#your-stats {
	height: 50%;
	box-sizing: border-box;
	border-bottom: 2px solid #aaa;
}
#their-stats {
	height: 50%;
}
#their-stats:hover {
	background: #aaa;
	color: #ddd;
	cursor: pointer;
}
#their-stats:hover span.name {
	color: #ddd;
}
.stats-menu {
	opacity: 0%;
	display: none;
	position: absolute;
	width: 100%;
	height: 280px;
	background: #ddd;
}
span.name {
	color: #aaa;
	margin-left: 8px;
	position: relative;
	top: 3px;
	font-size: 1.7em;
	text-shadow: 1px 1px 1px #555;
}

#menu {
	width: 10%;
	background: #ddd;
	float: left;
	height: 100%;
	border-left: 2px solid #aaa;
	box-sizing: border-box;
}
#menu > #developments {
	
}
#menu > #actions {
	width: 100%;
	background: #ddd;
	cursor: pointer;
	height: 100%;
}
#menu > #actions:hover{
	background: #aaa;
}
#menu > #actions:hover > .bar {
	background: #ddd;
}
#menu > #actions > .bar {
	border-radius: 2px;
	background: #aaa;
	height: 8px;
	margin-left: 22px;
	width: 50%;
	position:relative;
}
.top-bar{
	top: 20px;
}
.mid-bar{
	top: 26px;
}
.bot-bar{
	top: 32px;
}
#menu > #actions > #actions-menu {
	position: absolute;
	top: 106%;
	left: 70%;
	height: 70px;
	width: 30%;
	background: #ddd;
	display:none;
	opacity:0;
	-webkit-box-shadow: 0px 0px 6px rgba(100, 100, 100, 0.75);
	   -moz-box-shadow: 0px 0px 6px rgba(100, 100, 100, 0.75);
                box-shadow: 0px 0px 6px rgba(100, 100, 100, 0.75);
	border-radius: 2px;
}
#menu > #actions > #actions-menu > .tooltip-conjunction {
	position: absolute;
	top: -21%;
	left: 80%;
	height: 0; width: 0;
	border-bottom: 18px solid #ddd;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	z-index: 100;
}

.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 59px; /*if you make the channels bigger then you need to adjust this*/
						/*it needs to be 53 + half of your hex's margin-left*/
}


.water{
    background: #31597f;
}
.hex.water:before{
    border-bottom: 30px solid #31597f;
}
.hex.water:after{
    border-top: 30px solid #31597f;
}
.sheep{
    background: #7d7;
}
.hex.sheep:before{
    border-bottom: 30px solid #7d7;
}
.hex.sheep:after{
    border-top: 30px solid #7d7;
}
.wood{
    background: #367636;
}
.hex.wood:before{
    border-bottom: 30px solid #367636;
}
.hex.wood:after{
    border-top: 30px solid #367636;
}
.wheat{
    background: #e0a221;
}
.hex.wheat:before{
    border-bottom: 30px solid #e0a221;
}
.hex.wheat:after{
    border-top: 30px solid #e0a221;
}
.brick{
    background: #ff514a;
}
.hex.brick:before{
    border-bottom: 30px solid #ff514a;
}
.hex.brick:after{
    border-top: 30px solid #ff514a;
}
.ore{
    background: #999;
}
.hex.ore:before{
    border-bottom: 30px solid #999;
}
.hex.ore:after{
    border-top: 30px solid #999;
}
.desert{
    background: #f4be69;
}
.hex.desert:before{
    border-bottom: 30px solid #f4be69;
}
.hex.desert:after{
    border-top: 30px solid #f4be69;
}

.hex.padding {
	/*background-color:#ffffff;*/
	visibility:hidden;
}

span.rank{
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 1.5em;
	position: absolute;
	top:29%;
	width: 104px;
	text-align: center;
	text-shadow: 1px 1px 1px #555;
}

.robber,
.robber-inner{
	background:#282828;
}
.robber{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px #666;
	position: relative;
	top: 11px;
	left: 32px;
}
.robber-middle{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: relative;
	top: 6px;
	left: 16px;
}
.robber-inner{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px #666;
	position: absolute;
	top: 10px;
	left: 13px;
}


.intersect{
    position:absolute;
	width:12px;
	height:12px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	z-index:15;
	/*height: 0;
	width: 0;
	border: none;
	border-top: 45px solid #fff;
	background: transparent;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	z-index: 1;*/
}

.intersect.bottom{
    top:91px;
    left:46px;
	/*top: 62px;
	left: 23px;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
		    transform: rotate(180deg);*/
}
.intersect.right{
    top:60px;
    left:104px;
	/*top: 50px;
	left: 80px;*/
}

.intersect.red{
	background: #f00;
}
.intersect.blue{
	background: #00f;
}

.border{
	width: 49px;
	height: 4px;
	position: absolute;
	background: #fff;
	border: 1px solid #31597f;
	border-radius: 4px;
}
.border.border-bottom{
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
		    transform: rotate(90deg);
	margin-top: 40px;
	margin-left: -20px;
	display: none;
}
.border.border-down-left{
	-webkit-transform: rotate(-30deg);
	    -ms-transform: rotate(-30deg);
		    transform: rotate(-30deg);
	margin-top: 19px;
	margin-left: -47px;
	display: none;
}
.border.border-down-right{
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
		    transform: rotate(30deg);
	margin-top: 18px;
	margin-left: 10px;
}
.border.border-top{
	-webkit-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
		    transform: rotate(270deg);
	margin-top: -32px;
	margin-left: -19px;
}
.border.border-up-left{
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
		    transform: rotate(30deg);
	margin-top: -12px;
	margin-left: -47px;
	display: none;
}
.border.border-up-right{
	-webkit-transform: rotate(-30deg);
	    -ms-transform: rotate(-30deg);
		    transform: rotate(-30deg);
	margin-top: -12px;
	margin-left: 10px;
}
