@import 'variables';

@mixin box-shadow($offsetX, $offsetY, $blurRadius, $color: $box-shadow-color) {
  -webkit-box-shadow: $offsetX $offsetY $blurRadius $color;
  -moz-box-shadow: $offsetX $offsetY $blurRadius $color;
  box-shadow: $offsetX $offsetY $blurRadius $color;
}

@mixin hex($width, $height, $color: $default-hex-color) {
  
  background-color: #{$color};

  position: relative;
  width: $width;
  height: ($height / 2);

  float: left;

  margin-bottom: ($height / 4) + 12px;
  margin-left: ($width / 8);

  &:before {
    content: "";
    width: 0; height: 0;
    border-bottom: ($height / 4) solid #{$color};
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;

    position: absolute;
    top: (-1 * $height / 4);
  }
  &:after {
    content: "";
    width: 0; height: 0;
    border-top: ($height / 4) solid #{$color};
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;

    position: absolute;
    bottom: (-1 * $height / 4);
  }
}
@mixin robber ($diameter) {
  
  background-color: #282828;
  
  width: $diameter;
  height: $diameter;
  border-radius: $diameter / 2;
  @include box-shadow(0, 0, 5px);
  position: relative;
  
  &.middle {
    
    width: $diameter / 2;
    height: $diameter / 2;
    border-radius: $diameter / 4;
    
    position: relative;
    top: $diameter / 4;
    left: $diameter / 2;
  }  
  
  &.inner {
    
    background-color: #282828;
    
    width: $diameter / 4;
    height: $diameter / 4;
    border-radius: 5px;
    @include box-shadow(0, 0, 5px);
  }
}
@mixin intersect ($hex-width, $hex-height) {
  
  position: absolute;
  width: $hex-height / 10;
  height: $hex-height / 10;
  
  -webkit-border-radius: $hex-height / 10;
  -moz-border-radius: $hex-height / 10;
  border-radius: $hex-height / 10;
  
  z-index: 15;
  
  &.bottom {
    top: 3 * $hex-height / 4;
    left: $hex-width / 2;
  }
  &.right {
    top: $hex-height / 2;
    left: $hex-width;
  }
  &.red {
    background: #d42;
  }
  &.blue {
    background: #42d;
  }
}
@mixin border ($hex-width) {
  width: $hex-width / 3;
  height: $default-border-thickness;
  position: absolute;
  background: white;
  border: 1px solid #31597f;
  border-radius: $default-border-thickness;
  
  &.border-bottom {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: $hex-width - ($hex-width / 5);
    margin-left: -($hex-width - ($hex-width / 5)) / 2;
    display: none;
  }
  &.border-down-left {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-top: $hex-width / 5;
    margin-left: -($hex-width - ($hex-width / 10));
    display: none;
  }
  &.border-down-right{
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-top: $hex-width / 5;
    margin-left: $hex-width / 9;
  }
  &.border-top{
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-top: -($hex-width * 2 / 5);
    margin-left: -($hex-width / 10);
  }
  &.border-up-left{
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-top: -($hex-width / 5);
    margin-left: -($hex-width - ($hex-width / 10));
    display: none;
  }
  &.border-up-right{
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-top: -($hex-width / 5);
    margin-left: $hex-width / 5;
  }
}