$box-shadow-color: rgba(100, 100, 100, 0.75);
$text-shadow-color: #555;
$default-hex-color: #6C6;

$water-color: #31597f;
$wool-color: #7d7;
$wood-color: #367636;
$wheat-color: #e0a221;
$brick-color: #ff514a;
$ore-color: #999;
$desert-color: #f4be69;

$default-hex-width: 52px;
$default-hex-height: 60px;
$default-hex-margin-left: ($default-hex-height / 2) - 1px;
$default-robber-outer-size: $default-hex-width - ($default-hex-height / 3);
$default-robber-middle-size: $default-robber-outer-size / 2;
$default-border-thickness: 4px;
