@import 'partials/variables';
@import 'partials/mixins';

#board {
  display: block;
  width: auto;
  margin: 0 auto;
  padding-top: 120px;
}

#hand {
  height: 80px;
  width: 100%;
  position: fixed;
  right: 0px;
  z-index: 1000;
  @include box-shadow(0px, 1px, 5px);
}

#resources {
  width: 50%;
  background: #ddd;
  float: left;
  height: 100%;
}
#resources > .card {
  width: 13%;
  height: 60px;
  position: relative;
  float: left;
  top: 10px;
  color: #fff;
  margin-left: 6%;
  @include box-shadow(1px, 1px, 2px);
}
#resources > .card > .amt {
  position:relative;
  top:25%;
  left:40%;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px 1px #555;
}
#stats {
  width: 40%;
  background: #ddd;
  float: left;
  height: 100%;
  border-left: 2px solid #aaa;
  box-sizing: border-box;
}
.stats#your-stats {
  height: 50%;
  box-sizing: border-box;
  border-bottom: 2px solid #aaa;
}
#their-stats {
  height: 50%;
}
#their-stats:hover {
  background: #aaa;
  color: #ddd;
  cursor: pointer;
}
#their-stats:hover span.name {
  color: #ddd;
}
.stats-menu {
  opacity: 0;
  display: none;
  position: relative;
  top: 13px;
  width: 100%;
  height: 210px;
  background: #ddd;
  border-radius: 2px;
  @include box-shadow(0, 0, 6px, #777);
}
span.name {
  color: #aaa;
  margin-left: 8px;
  position: relative;
  top: 3px;
  font-size: 1.7em;
  text-shadow: 1px 1px 1px #555;
}

.stat {
  width: 19%;
  display: inline-block;
}

.icon {
  width: 25px;
  height: 25px;
  border: none;
  margin: 0;
  background: #f00;
  position: relative;
  top: 6px;
  left: 6px;
  float: left;
}

.icon.points-flag {
  background: #31597f;
}
.icon.cards {
  background: #aaa;
}
.icon.dev-cards {
  background: #7d7;
}
.icon.road {
  background: #ff514a;
}
.icon.soldiers {
  background: #f4be69;
}

span.amt {
  color: white;
  font-size: 1.7em;
  text-shadow: 1px 1px 1px #555;
  width: 25px;
  position: relative;
  top: 2px;
  left: 20%;
}

#menu {
  width: 10%;
  background: #ddd;
  float: left;
  height: 100%;
  border-left: 2px solid #aaa;
  box-sizing: border-box;
}
#menu > #developments {

}
#menu > #actions {
  width: 100%;
  background: #ddd;
  cursor: pointer;
  height: 100%;
}
#menu > #actions:hover{
  background: #aaa;
}
#menu > #actions:hover > .bar {
  background: #ddd;
}
#menu > #actions > .bar {
  border-radius: 2px;
  background: #aaa;
  height: 8px;
  margin-left: 22px;
  width: 50%;
  position:relative;
}
.top-bar{
  top: 20px;
}
.mid-bar{
  top: 26px;
}
.bot-bar{
  top: 32px;
}
#menu > #actions > #actions-menu {
  position: absolute;
  top: 106%;
  left: 70%;
  height: 70px;
  width: 30%;
  background: #ddd;
  display:none;
  opacity:0;
  @include box-shadow(0, 0, 6px);
  border-radius: 2px;
}
#menu > #actions > #actions-menu > .tooltip-conjunction {
  left: 80%;
}
#their-stats > .stats-menu.top-menu > .tooltip-conjunction {
  position: absolute;
  top: -5%;
  left: 7%;
}
.tooltip-conjunction {
  position: absolute;
  top: -21%;
  height: 0; width: 0;
  border-bottom: 18px solid #ddd;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  z-index: 100;
}

.hex-row {
  clear: left;
}
.hex-row.even {
  margin-left: $default-hex-margin-left; /*if you make the channels bigger then you need to adjust this*/
  /*it needs to be 53 + half of your hex's margin-left*/
}

// Resource classes -- double-classed to increase
// rule priority. Seems hackish, but it's necessary
// to create the robber visual (which is a hack).
.water.water {
  background: $water-color;
}
.wool.wool {
  background: $wool-color;
}
.wood.wood {
  background: $wood-color;
}
.wheat.wheat {
  background: $wheat-color;
}
.brick.brick {
  background: $brick-color;
}
.ore.ore {
  background: $ore-color;
}
.desert.desert {
  background: $desert-color;
}

.hex.water {
  @include hex($default-hex-width, $default-hex-height, $water-color);
}
.hex.wool {
  @include hex($default-hex-width, $default-hex-height, $wool-color);
}
.hex.wood {
  @include hex($default-hex-width, $default-hex-height, $wood-color);
}
.hex.wheat {
  @include hex($default-hex-width, $default-hex-height, $wheat-color);
}
.hex.brick {
  @include hex($default-hex-width, $default-hex-height, $brick-color);
}
.hex.ore {
  @include hex($default-hex-width, $default-hex-height, $ore-color);
}
.hex.desert {
  @include hex($default-hex-width, $default-hex-height, $desert-color);
}
.hex.padding {
  visibility:hidden;
}

span.rank{
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  top: 10%;
  width: $default-hex-width;
  text-align: center;
  text-shadow: 1px 1px 1px #555;
}

.robber{
  @include robber($default-hex-width - ($default-hex-height / 3));
}
.intersect {
  @include intersect($default-hex-width, $default-hex-height);
}
.border{
  @include border($default-hex-width);
}