@import 'partials/variables';
@import 'partials/mixins';

#board {
  display: block;
  width: auto;
  margin: 0 auto;
  padding-top: 120px;
}
.hex-row {
  clear: left;
}
.hex-row.even {
  margin-left: $default-hex-margin-left; /*if you make the channels bigger then you need to adjust this*/
  /*it needs to be 53 + half of your hex's margin-left*/
}

// Resource classes -- double-classed to increase
// rule priority. Seems hackish, but it's necessary
// to create the robber visual (which is a hack).
.water.water {
  background: $water-color;
}
.wool.wool {
  background: $wool-color;
}
.wood.wood {
  background: $wood-color;
}
.wheat.wheat {
  background: $wheat-color;
}
.brick.brick {
  background: $brick-color;
}
.ore.ore {
  background: $ore-color;
}
.desert.desert {
  background: $desert-color;
}

.hex.water {
  @include hex($default-hex-width, $default-hex-height, $water-color);
}
.hex.wool {
  @include hex($default-hex-width, $default-hex-height, $wool-color);
}
.hex.wood {
  @include hex($default-hex-width, $default-hex-height, $wood-color);
}
.hex.wheat {
  @include hex($default-hex-width, $default-hex-height, $wheat-color);
}
.hex.brick {
  @include hex($default-hex-width, $default-hex-height, $brick-color);
}
.hex.ore {
  @include hex($default-hex-width, $default-hex-height, $ore-color);
}
.hex.desert {
  @include hex($default-hex-width, $default-hex-height, $desert-color);
}
.hex.padding {
  visibility:hidden;
}

span.rank{
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  top: 10%;
  width: $default-hex-width;
  text-align: center;
  text-shadow: 1px 1px 1px #555;
}

.robber{
  @include robber($default-hex-width - ($default-hex-height / 2.5));
}
.intersect {
  @include intersect($default-hex-width, $default-hex-height);
}
.border{
  @include border($default-hex-width);
}