#board {
  display: block;
  width: auto;
  margin: 0 auto;
  padding-top: 120px; }

.hex-row {
  clear: left; }

.hex-row.even {
  margin-left: 29px;
  /*if you make the channels bigger then you need to adjust this*/
  /*it needs to be 53 + half of your hex's margin-left*/ }

.water.water {
  background: #31597f; }

.wool.wool {
  background: #7d7; }

.wood.wood {
  background: #367636; }

.wheat.wheat {
  background: #e0a221; }

.brick.brick {
  background: #ff514a; }

.ore.ore {
  background: #999; }

.desert.desert {
  background: #f4be69; }

.hex.water {
  background-color: #31597f;
  position: relative;
  width: 52px;
  height: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 6.5px; }
  .hex.water:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #31597f;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px; }
  .hex.water:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #31597f;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    bottom: -15px; }

.hex.wool {
  background-color: #7d7;
  position: relative;
  width: 52px;
  height: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 6.5px; }
  .hex.wool:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #7d7;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px; }
  .hex.wool:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #7d7;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    bottom: -15px; }

.hex.wood {
  background-color: #367636;
  position: relative;
  width: 52px;
  height: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 6.5px; }
  .hex.wood:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #367636;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px; }
  .hex.wood:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #367636;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    bottom: -15px; }

.hex.wheat {
  background-color: #e0a221;
  position: relative;
  width: 52px;
  height: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 6.5px; }
  .hex.wheat:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #e0a221;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px; }
  .hex.wheat:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #e0a221;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    bottom: -15px; }

.hex.brick {
  background-color: #ff514a;
  position: relative;
  width: 52px;
  height: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 6.5px; }
  .hex.brick:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #ff514a;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px; }
  .hex.brick:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #ff514a;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    bottom: -15px; }

.hex.ore {
  background-color: #999;
  position: relative;
  width: 52px;
  height: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 6.5px; }
  .hex.ore:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #999;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px; }
  .hex.ore:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #999;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    bottom: -15px; }

.hex.desert {
  background-color: #f4be69;
  position: relative;
  width: 52px;
  height: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 6.5px; }
  .hex.desert:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #f4be69;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px; }
  .hex.desert:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #f4be69;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    bottom: -15px; }

.hex.padding {
  visibility: hidden; }

span.rank {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  top: 10%;
  width: 52px;
  text-align: center;
  text-shadow: 1px 1px 1px #555; }

.robber {
  background-color: #282828;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  -webkit-box-shadow: 0 0 5px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0 0 5px rgba(100, 100, 100, 0.75);
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.75);
  position: relative;
  left: 12.25px; }
  .robber.middle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    position: relative;
    top: 7px;
    left: 14px; }
  .robber.inner {
    background-color: #282828;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgba(100, 100, 100, 0.75);
    -moz-box-shadow: 0 0 5px rgba(100, 100, 100, 0.75);
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.75);
    position: relative;
    top: 3.5px;
    left: 7px; }

.intersect {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  z-index: 15; }
  .intersect.bottom {
    top: 45px;
    left: 23px; }
  .intersect.right {
    top: 30px;
    left: 52px; }
  .intersect.red {
    background: #d42; }
  .intersect.blue {
    background: #42d; }

.border {
  width: 17.33333px;
  height: 2px;
  position: absolute;
  background: white;
  border: 1px solid #31597f;
  border-radius: 2px; }
  .border.border-bottom {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 41.6px;
    margin-left: -20.8px;
    display: none; }
  .border.border-down-left {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-top: 10.4px;
    margin-left: -46.8px;
    display: none; }
  .border.border-down-right {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-top: 8px;
    margin-left: 8px; }
  .border.border-top {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-top: -17.33333px;
    margin-left: -6.5px; }
  .border.border-up-left {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-top: -10.4px;
    margin-left: -46.8px;
    display: none; }
  .border.border-up-right {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-top: -6.5px;
    margin-left: 6.5px; }

/*# sourceMappingURL=board.css.map */
